.navbar-dark {
  background: #ffc107; }

.navbar-nav .nav-link {
  color: #000000 !important; }

.navbar-nav .nav-link:hover {
  color: #fff7f7 !important;
  cursor: pointer !important; }

.navbar-brand img {
  border-radius: 20px; }

.row-content {
  margin: 0px auto;
  padding-top: 100px;
  min-height: 400px; }

.carousel-inner {
  width: 100%;
  height: 100vh; }

.navbar-fixed-top {
  background-color: transparent !important;
  border-bottom: 1px solid;
  border-color: #000000;
  transition: background-color 600ms linear; }

.scrolled {
  background-color: #ffc107 !important;
  transition: background-color 400ms linear;
  border: none; }

.media img {
  width: 25vw;
  height: 25vh; }

.media .media-body {
  color: #686565; }
  .media .media-body h2 {
    color: #000000; }

.fa-youtube {
  background-color: red;
  color: white;
  border-radius: 3px; }

.fa-youtube:hover {
  background-color: #c92a2a; }

footer {
  background: #c9c9c9;
  padding-top: 50px;
  margin-top: 50px; }

#services .fa {
  padding-bottom: 20px;
  color: #c79100; }

.fa-p {
  color: #686565; }

.f-title {
  color: #000000; }

.fa-lgr {
  display: none; }

#right-footer {
  background: #000000;
  color: floralwhite; }
  #right-footer .container {
    background: #000000; }

.btn-social-icon {
  border-radius: 100%;
  padding: 10px; }

#mail-icon {
  background: #000000;
  color: floralwhite; }

#mail-icon:hover {
  background: #3a3636; }

.row-header {
  margin: 0px auto;
  padding: 0px auto; }

.about {
  background: #84A1EF; }

.header-event {
  background: white; }

.btn-primary {
  background-color: #ffc107;
  color: #000000;
  border: #ffc107; }

.card-title-event {
  background: #fff350; }

.text-center-modal{
  padding-left: 15vw}

#login-modal input{
  width: 10wd;
}

@media only screen and (max-width: 600px) {
  .navbar-fixed-top {
    background-color: #ffc107 !important;
    transition: background-color 400ms linear;
    border: none; }
  .reg-bar {
    display: none; }
  .media img {
    width: 12.5vw;
    height: 12.5vh; }
  .fa-lgr {
    display: inline-block; } }
